# WSO2 IS connection
IS_BASE_URL=

# Sub-org ID (leave blank for root tenant)
ORG_ID=

CLIENT_ID=
CLIENT_SECRET=

# Presentation definition to request
DEFINITION_ID=utility-credential-presentation

# This app's URL
APP_PORT=3003
